<div class="container">
    <div id="home-text">
        <h1>DoDash</h1>
        <h2>
            Welcome to your personal docker dashboard. Thanks to this great web application, you will be able to manage your containers and images easily !
        </h2>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-12 home-box">
            <a class="btn btn-lg col-12" routerLink="/container/create"><i class="fa fa-plus"></i><i class="fa fa-box-open"></i><br />Create
                container</a>
        </div>
        <div class="col-xl-4 col-lg-12 home-box">
            <a class="btn btn-lg col-12" routerLink="/containers"><i class="fa fa-boxes"></i><br />Containers list</a>
        </div>
        <div class="col-xl-4 col-lg-12 home-box">
            <a class="btn btn-lg col-12" routerLink="/images"><i class="fa fa-images"></i><br />Images list</a>
        </div>
    </div>

</div>